---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Proyect from '../components/Proyect.astro';
import { Image } from 'astro:assets';
import next from '../icons/next.svg'
import node from '../icons/node.svg'
import express from '../icons/express.svg'
import prisma from '../icons/prisma.svg'
import tailwind from '../icons/tailwindcss.svg'
import typescript from '../icons/typescript.svg'
import profile from '../../public/images/ghost.jpg'
import nft from '../../public/images/nft.jpeg'
---

<Layout title="Daniel Ramos.">
		<main class=" max-w-3xl m-auto w-full mt-20">
							<h1 class="text-white w-full   font-semibold text-4xl">Hola, soy Daniel Ramos</h1>
							<p class="text-lg text-gray-400 font-semibold mt-5">Soy un apasionado desarrollador web full stack con experiencia en la creación de aplicaciones web y móviles. Vivo en Oaxaca, México, y tengo 21 años. Estoy constantemente aprendiendo y explorando nuevas tecnologías.</p>
							<div class="flex flex-wrap justify-start gap-2 mt-7">
	
								<div class="w-20 h-10 object-contain p-2 rounded-md border-2  border-gray-600 bg-[#313131]">
									<Image src={next} alt='icon' class=' w-full object-cover h-full ' />
								</div>
								<div class="w-20 h-10 object-contain p-2 rounded-md border-2  border-gray-600 bg-[#313131]">
									<Image src={node} alt='icon' class=' w-full object-cover h-full ' />
								</div>
								<div class="w-28 h-10 object-contain p-2 rounded-md border-2  border-gray-600 bg-[#313131]">
									<Image src={tailwind} alt='icon' class=' w-full object-cover h-full ' />
								</div>
								<div class="w-20 h-10 object-contain p-2 rounded-md border-2  border-gray-600 bg-[#313131]">
									<Image src={prisma} alt='icon' class=' w-full object-contain h-full ' />
								</div>
								<div class="w-20 h-10 object-contain p-2 rounded-md border-2  border-gray-600 bg-[#313131]">
									<Image src={typescript} alt='icon' class=' w-full object-cover h-full ' />
								</div>
								<div class="w-20 h-10 object-contain p-2 rounded-md border-2  border-gray-600 bg-[#313131]">
									<Image src={express} alt='icon' class=' w-full object-cover h-full ' />
								</div>
						</div>
			<section class="mt-10">
				<p class="text-lg text-gray-400 font-semibold">Como estudiante autodidacta, he cultivado mi habilidad para desarrollar proyectos diversos centrados en el ámbito web, así como la creación de scripts para la automatización eficiente de tareas. Mi enfoque principal ha sido el desarrollo web, donde he adquirido experiencia significativa en la implementación de soluciones creativas y funcionales.</p>
				<div class="mt-10 flex gap-4">
					<Card image={profile} body='13 Repositorios' href='https://github.com/danielghost20' title='@Ghost21'/>
					<Card image={nft} body='Más de 500 contactos' href='https://www.linkedin.com/in/daniel-ramos21/' title='daniel-ramos'/>
				</div>
				<p class="text-lg text-gray-400 font-semibold mt-10">Mi interés se extiende hacia la ciencia de datos, y tengo la intención de dedicar tiempo a estudios a largo plazo en este campo. Mi pasión por la tecnología y el aprendizaje autodidacta me ha permitido adquirir habilidades sólidas en programación, diseño web y gestión de datos.</p>
				<h2 class="my-5 text-3xl font-semibold text-white">Algunos de mis recientes proyectos son:</h2>
				<div class="flex flex-col gap-4 mt-10">
					<Proyect content='Tienda virtual de venta de productos' link='' title='next-store'/>
					<Proyect content='Web de componentes reutilizables para diferentes frameworks' link='' title='@ghost ui'/>
				</div>
				<p class="text-lg text-gray-400 font-semibold my-6">He trabajado con empresas de desarrollo de software, en proyectos de codigo abierto para la comunidad y más.</p>
			</section>
		</main>
</Layout>
